/* ---------------------------------------------------
COLORS
----------------------------------------------------*/
/* Red */
.clr-fnt-red-mid {
	 color: #B52561;
}
/* Blue */
.clr-fnt-blue-mid {
	 color: #6358E8;
}
/* Yellow */
.clr-bg-yellow-bright {
	 background-color: #FDE28C;
}
/* Black */
.clr-fnt-black-mid {
	 color: #39352A;
}
/* Gray */

/* White */
.clr-bg-white-dark {
	 background-color: #F9F7F2;
}
.clr-bg-white-very-dark {
	 background-color: #F3F1EC;
}


/* ---------------------------------------------------
FONTS
----------------------------------------------------*/
.fnt-size-logo {
	font-size: 1.75rem;
}
.fnt-bold-big,
.fnt-bold-mid {
	font-weight: 800;
}
.fnt-bold-big {
	letter-spacing: -1px;
}
.fnt-bold-mid {
	letter-spacing: -0.5px;
}
.fnt-italic-big,
.fnt-italic-mid {
	font-weight: 400;
	font-style: italic;
}
.fnt-italic-big {
	letter-spacing: 8px;
}
.fnt-italic-mid {
	letter-spacing: 6px;
}
@media only screen and (min-width: 30em) {
	.fnt-size-logo {
		font-size: 2.25rem;
	}
}
@media only screen and (min-width: 60em) {
	.fnt-size-logo {
		font-size: 4rem;
	}
	.fnt-bold-big {
		letter-spacing: -3px;
	}
	.fnt-bold-mid {
		letter-spacing: -1px;
	}
	.fnt-italic-big {
		letter-spacing: 16px;
	}
	.fnt-italic-mid {
		letter-spacing: 8px;
	}
}

/* ---------------------------------------------------
TYPO ELEMENTS
----------------------------------------------------*/
.hilght-yellow {
	text-decoration: none;
  position:relative;
}
.hilght-yellow::before {
	content: "";
	background-color: #FDE28C;
	width: 100%;
	height: 0.75em;
	position: absolute;
	z-index: 10;
	top: 0.22em;
}
a:hover.hilght-yellow::before {
  width: 0;
}
.hilght-txt {
	position: relative;
	z-index: 20;
}


/* ---------------------------------------------------
LAYOUT
----------------------------------------------------*/
.claim-mw {
	max-width: 26rem;
}
@media only screen and (min-width: 60em) {
	.claim-mw {
		max-width: 38rem;
	}
}

/* ---------------------------------------------------
BACKROUND IMAGES
----------------------------------------------------*/

.bg-title-claim {
  background: url(/theme/images/bg-white.svg) top right / 73% auto repeat-y;
}
.bg-summary {
  background: url(/theme/images/bg-dark.svg) top left / 73% auto repeat-y;
}
