/* ---------------------------------------------------
COLORS
----------------------------------------------------*/
/* Red */
.clr-fnt-red-mid {
	 color: #B52561;
}
/* Blue */
.clr-fnt-blue-mid {
	 color: #6358E8;
}
/* Yellow */
.clr-bg-yellow-bright {
	 background-color: #FDE28C;
}
/* Black */
.clr-fnt-black-mid {
	 color: #39352A;
}
/* Gray */

/* White */
.clr-bg-white-dark {
	 background-color: #F9F7F2;
}
.clr-bg-white-very-dark {
	 background-color: #F3F1EC;
}


/* ---------------------------------------------------
FONTS
----------------------------------------------------*/
.fnt-size-logo {
	font-size: 1.75rem;
}
.linehight-copy {
	line-height: 2.25em;
}
/* style */
.fnt-bold-big,
.fnt-bold-mid,
.fnt-bold-small {
	font-weight: 800;
}
.fnt-bold-big {
	letter-spacing: -1px;
}
.fnt-bold-mid {
	letter-spacing: -0.5px;
}
.fnt-bold-small {
	letter-spacing: 0.5px;
}
.fnt-italic-big,
.fnt-italic-mid,
.fnt-italic-small {
	font-weight: 400;
	font-style: italic;
}
.fnt-italic-big {
	letter-spacing: 8px;
}
.fnt-italic-mid {
	letter-spacing: 4px;
}
.fnt-italic-small {
	letter-spacing: 2px;
}
@media only screen and (min-width: 30em) {
	.fnt-size-logo {
		font-size: 2.25rem;
	}
}
@media only screen and (min-width: 60em) {
	/* style */
	.fnt-size-logo {
		font-size: 4rem;
	}
	.fnt-bold-big {
		letter-spacing: -3px;
	}
	.fnt-bold-mid {
		letter-spacing: -1px;
	}
	.fnt-italic-big {
		letter-spacing: 16px;
	}
	.fnt-italic-mid {
		letter-spacing: 6px;
	}
}

/* ---------------------------------------------------
TYPO ELEMENTS
----------------------------------------------------*/
.hilight-yellow-mid {
	text-decoration: none;
	background: url(/theme/images/bg-yellow.svg);
	background-size: auto 65%;
	background-position: 0 0.22em;
	background-repeat: repeat-x;
}
a:hover.hilight-yellow-mid {
  width: 0;
	background: url(/theme/images/bg-none.svg);
}

/*white*/
.hilight-white-mid {
	background: url(/theme/images/bg-white.svg);
	background-size: auto 65%;
	background-position: 0 0.22em;
	background-repeat: repeat-x;
}
.hilight-white-small {
	background-color: #FFFFFF;
	padding: 0.7em 0.2em 0.7em 0.2em;
}



/* ---------------------------------------------------
LAYOUT
----------------------------------------------------*/
.claim-mw {
	max-width: 26rem;
}
@media only screen and (min-width: 60em) {
	.claim-mw {
		max-width: 38rem;
	}
}

/* ---------------------------------------------------
BACKROUND IMAGES
----------------------------------------------------*/

.bg-title-claim {
  background: url(/theme/images/bg-white.svg) top right / 73% auto repeat-y;
}
.bg-summary {
  background: url(/theme/images/bg-dark.svg) top left / 73% auto repeat-y;
}
.bg-status {
  background-image: url(/theme/images/bg-white.svg);
	background-position:  top left;
	background-size: 100%;
	background-repeat: repeat-y;
}
@media only screen and (min-width: 30em) {
	.bg-status {
	  background-image: url(/theme/images/bg-white.svg);
		background-position:  top right calc(100% - 9rem);
		background-size: 73%;
		background-repeat: repeat-y;
	}
}
@media only screen and (min-width: 60em) {
	.bg-status {
	  background-image: url(/theme/images/bg-white.svg);
		background-position:  top right calc(100% - 9rem);
		background-size: 50%;
		background-repeat: repeat-y;
	}
}
