<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
Explainer | analytics.txt    </title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline' *.analyticstxt.org; frame-src 'self' *.analyticstxt.org; style-src 'self' 'unsafe-inline'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="description" content="The official analytics.txt explainer, focusing on the privacy related consequences of the collection of usage data.">
    <meta property="og:site_name" content="analytics.txt">
    <meta property="og:locale" content="en">
    <meta property="og:title" content="Explainer | analytics.txt">
    <meta property="og:description" content="The official analytics.txt explainer, focusing on the privacy related consequences of the collection of usage data.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.analyticstxt.org/explainer/">
    <meta property="og:image" content="https://www.analyticstxt.org/theme/images/analyticstxt-logo-social-media.jpg">
    <meta name="twitter:image:alt" content="analytics.txt logo">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="https://www.analyticstxt.org/explainer/">
    <link rel="shortcut icon" type="image/x-icon" href="/theme/images/favicon.ico">
      <link rel="stylesheet" href="/theme/css/style.min.css?411bf77b">
    <link rel="preload" href="/theme/fonts/Rubik-Regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/theme/fonts/Rubik-Italic.woff2" as="font" crossorigin>
    <link rel="preload" href="/theme/fonts/Rubik-ExtraBold.woff2" as="font" crossorigin>
      <script async src="https://offen.analyticstxt.org/script.js" data-account-id="e52e7c55-4132-4ad3-a50b-2c1ce577a48e"></script>
  </head>
<body class="f5 rubik lh-copy clr-fnt-red clr-bg-white-dark no-js">
  <script>
    document.body.classList.remove('no-js')
  </script>
  <div class="mw8 center bg-main">
    <!-- MENU -->
    <div class="bg-menu pt3 ph3-l">
      <nav id="navigation">
        <div class="nav-mobile">
          <span id="nav-toggle" v-on:click="toggle" v-bind:class="{ active: active }">
            <span></span>
          </span>
        </div>
        <ul class="nav-list" v-bind:class="{ active: active }">
          <li>
            <p class="ma0 mb2 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="/wizard/">Implementation Wizard</a>&nbsp;&nbsp;</p>
          </li>
          <li>
            <p class="ma0 mb2 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="/explainer/">Explainer</a>&nbsp;&nbsp;</p>
          </li>
          <li>
            <p class="ma0 mb2 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="https://github.com/offen/analyticstxt/" rel="noopener" target="_blank">GitHub</a>&nbsp;&nbsp;</p>
          </li>
          <li>
            <p class="ma0 mb2 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="/legal-privacy/">Legal & Privacy</a>&nbsp;&nbsp;</p>
          </li>
          <li>
            <p class="ma0 mb2 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="/about/">About</a>&nbsp;&nbsp;</p>
          </li>
          <li>
            <p class="ma0 mb0-l pl3 pl0-l">_&nbsp;&nbsp;<a class="hilight-yellow-small dib" href="https://tools.ietf.org/html/draft-ring-analyticstxt-02" rel="noopener" target="_blank">Internet-Draft</a>&nbsp;&nbsp;</p>
          </li>
        </ul>
      </nav>
    </div>
    <!-- TITLE -->
    <div class="bg-title ph3 p4 pv5-ns">
      <header class="fnt-size-logo tr ma0">
        <a class="hilight-yellow-big-invers" href="/"><span class="clr-fnt-red fnt-bold-big">analytics </span><span class="clr-fnt-red fnt-italic-big">.txt</span></a>
      </header>
    </div>
<main class="bg-page ph3 pt4 pt5-ns pb6">
  <div class="relative">
    <div class="absolute deko-page">
    </div>
  </div>
  <div class="mw6 center">

    <!-- Wizard -->

    <h1 class="f5 normal ma0 fnt-bold-small">Explainer</h1>
    <div class="lineheight-copy">
      <p class="ma0 mb2 mt5">
        Website operators collect usage data to measure user engagement with their sites and services, identify possible issues and improve user experience.
      </p>
      <p class="ma0 mb4">
        The degree to which this affects users' privacy can vary drastically. This explainer is focusing on the user-facing consequences of the collection of usage data as defined in the relevant file.
      </p>
    </div>
    <div class="clr-fnt-blue" id="explainer" v-cloak>
      <div class="bg-white pa3 mb2">
        <textarea v-model="value" id="explainer-content" placeholder="Paste content of analytics.txt file here.." class="w-100 f6 f5-ns code ba bw1 b--moon-gray bg-near-white clr-fnt-black pa2 mb2 textfield-resize"></textarea>
      </div>
      <div class="cf bg-white pa3 pt4 mb2">
        <button class="fr pointer hilight-yellow-mid f3 f2-l normal bn clr-fnt-red ma0" v-on:click="explain">Explain</button>
      </div>
      <div v-if="error">
        <div class="bg-white ma0 pt3 ph3 pb4">
          <p class="ma0">Error: <%= error %></p>
        </div>
      </div>
      <div v-if="result">
        <div v-for="(block, index) in result">
          <div class="bg-white pa3 pb4 ma0 mb2">
            <div class="pointer flex justify-between" v-if="block.headline" v-on:click="toggle(index)">
              <h2 class="f5 normal ma0 fnt-bold-small mb3">
                <%= block.headline %>
              </h2>
              <a class="dib label-toggle" v-bind:class="isExpanded(index) ? 'label-toggle--rotate' : null"></a>
            </div>
            <div v-if="isExpanded(index)" v-for="element in block.body">
              <p class="ma0 mb2" v-if="!Array.isArray(element)">
                <%= element %>
              </p>
              <ul class="ma0 list-style-square" v-if="Array.isArray(element)">
                <li class="ma0 mb2" v-for="li in element">
                  <%= li %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Wizard -->

  </div>
</main>
    <!-- FOOTER -->
    <footer>
      <div class="bg-footer">
        <div class="relative">
          <div class="absolute deko-footer">
          </div>
        </div>
        <p class="tr ma0 mr3 mr5-ns pt6 pb4">
          _&nbsp;&nbsp;analytics.txt&nbsp;&nbsp;_&nbsp;&nbsp;May 2024
        </p>
      </div>
    </footer>
  </div>
      <script src="/theme/scripts/packed.js?48f835a5"></script>
</body>
</html>