{% extends "page.html" %}

{% block content %}
<main class="bg-page ph3 pt4 pt5-ns pb6">
  <div class="relative">
    <div class="absolute deko-page">
    </div>
  </div>
  <div class="mw6 center">

    <!-- Wizard -->

      <h1 class="f5 normal ma0 fnt-bold-small">Explainer</h1>
      <div class="lineheight-copy">
        <p class="ma0 mb2 mt5">
          Website operators collect usage data to measure user engagement with their sites and services, identify possible issues and improve user experience. The degree to which this affects users' privacy can vary drastically.
        </p>
        <p class="ma0 mb4">
          The degree to which this affects users' privacy can vary drastically. This explainer is focusing on the user-facing consequences of the collection of usage data as defined in the relevant file.
        </p>
      </div>




    <div class="clr-fnt-blue" id="explainer" v-cloak>

      <div class="bg-white pa3 mb2">
        <textarea v-model="value" id="explainer-content" placeholder="Paste content of analytics.txt file here.." class="w-100 f6 f5-ns code ba bw1 b--moon-gray bg-near-white clr-fnt-black pa2 mb2 textfield-resize"></textarea>
      </div>
      <div class="cf bg-white pa3 pt4 mb2">
        <button class="fr pointer hilight-yellow-mid f3 f2-l normal bn clr-fnt-red ma0" v-on:click="explain">Explain</button>
      </div>

      <div v-if="error">
        <div class="bg-white ma0 pt3 ph3 pb4">
          <p class="ma0">Error: <%= error %></p>
        </div>
      </div>

      <div v-if="result">
        <div v-for="(block, index) in result">
          <div class="bg-white pa3 pb4 ma0 mb2">

            <div class="pointer flex justify-between" v-if="block.headline" v-on:click="toggle(index)">
              <h2 class="f5 normal ma0 fnt-bold-small mb2">
                <%= block.headline %>
              </h2>
              <a aria-label="Toggle display of admin console navigation" class="dib label-toggle"></a>
            </div>

            <div v-if="isExpanded(index)" v-for="element in block.body">
              <p class="ma0 mb2" v-if="!Array.isArray(element)">
                <%= element %>
              </p>
              <ul class="ma0 list-style-square" v-if="Array.isArray(element)">
                <li class="ma0 mb2" v-for="li in element">
                  <%= li %>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>




    <!-- Wizard -->

  </div>
</main>
{% endblock %}
