{% extends "page.html" %}
{% set index = True %}

{% block content %}
  <!-- PITCH -->
  <div class="bg-pitch ph3 pt4 pb7 pb6-ns">
    <div class="relative">
      <div class="absolute deko-pitch">
      </div>
    </div>
    <div class="pitch-mw pb5">
      <h1 class="f3 f2-l normal ma0 clr-fnt-blue">
        <span class="fnt-italic-mid">A proposed standard</span><br class="break-ml" /> which allows websites and services <span class="fnt-bold-mid">to disclose information</span><br class="break-ml" /> about their usage of analytics software and user tracking.
      </h1>
      <a class="hilight-yellow-mid f3 f2-l normal ma0 clr-fnt-blue" href="#learn-more">Learn more~</a>
    </div>
  </div>
  <!-- SUMMARY -->
  <div class="bg-summary ph3 pv6">
    <div class="relative">
      <div class="absolute deko-summary">
      </div>
    </div>
    <div class="cf">
      <div class="fr mr6-m mr5-l">
        <div class="mw6">
          <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
            Privacy has become an important feature for users of websites and services.
          </h2>
        </div>
        <div class="lineheight-copy mw6 ml5-l">
          <p class="ma0 mt3">
            <a class="hilight-yellow-small" href="/about/">We</a> aim at providing a well-defined way for websites and services to signal their usage of analytics and tracking software to users and make it discoverable for their tooling.
          </p>
          <p class="ma0 mt3">
            <span class="hilight-white-small">analytics.txt</span> will be designed to be an elaborate <span class="fnt-bold-small">standard that describes the usage of analytics and tracking in a non-biased way</span> that is understandable both for a non-technical audience, but is also useful for consumption by tools and software.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- STATUS -->
  <div class="bg-status ph3 clr-fnt-blue pv6" id="learn-more">
    <div class="relative">
      <div class="absolute deko-status">
      </div>
    </div>
    <div class="lineheight-copy ml4-m ml5-l mw6 link-blue">
      <h2 class="f3 f2-l normal ma0 fnt-bold-mid">
        First version submitted~
      </h2>
      <p class="ma0 mt3 mb3">
        We have submitted a first version of the specification as an <span class="fnt-italic-small">Internet-Draft.</span> We welcome any kind of <a class="hilight-yellow-small" href="mailto:hioffen@posteo.de" rel="noopener">feedback</a> to initiate a discussion on our proposal.
      </p>
      <a class="hilight-yellow-mid f3 f2-l normal ma0 clr-fnt-blue" href="{{ INTERNET_DRAFT }}" rel="noopener" target="_blank">View Internet-Draft</a>
    </div>
  </div>
  <!-- FAQ A -->
  <div class="bg-faq ph3 pv6">
    <div class="relative">
      <div class="absolute deko-faq-a">
      </div>
    </div>
    <div class="cf">
      <div class="fr mr6-ns">
        <div class="mw6">
          <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
            Why should I use <span class="hilight-white-mid">analytics.txt</span> on my website?
          </h2>
        </div>
        <div class="mw6 ma0 custom-list">
          <ul class="text-list lineheight-copy ml2">
            <li>
              <p class="ma0 mt3">
                Regulations around the handling of user data on websites are evolving quickly and mandate certain practices. An <span class="hilight-white-small">analytics.txt</span> file can give auditors instant insights on what is in use and how this maps to the applicable regulations.
              </p>
            </li>
            <li>
              <p class="ma0 mt3">
                Users value websites that are transparent about the privacy implications their usage brings. <span class="hilight-white-small">analytics.txt</span> can disclose such information to your users without hiding behind the walls of legalese text that have become an industry practice.
              </p>
            </li>
            <li>
              <p class="ma0 mt3">
                Tools like crawlers or Browser extensions can read and parse the data in <span class="hilight-white-small">analytics.txt</span> and use it to signal privacy metrics to users and other third parties.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- PREVIEW -->
  <div class="bg-preview ph3-ns pv6">
    <div class="mw6 ph0-ns ph3 ml5-l ">
      <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
        How does <span class="hilight-white-dark-mid">analytics.txt</span> look like for this website?
      </h2>
    </div>
    <div class="mw7 ba bw1 b--moon-gray mt3 ml5-l mr3-m">
      <div class="h1 bg-moon-gray"></div>
      <div class="f6 f5-ns code pv4 ph3 ph4-ns bg-near-white clr-fnt-black">
        <pre class="lineheight-copy ma0 break-spaces">
{{ ANALYTICS_TXT_CONTENTS | e }}
        </pre>
      </div>
    </div>
  </div>
  <!-- FAQ B 1 -->
  <div class="bg-faq ph3 pt6">
    <div class="relative">
      <div class="absolute deko-preview">
      </div>
    </div>
    <div class="relative">
      <div class="absolute deko-faq-b">
      </div>
    </div>
    <div class="cf">
      <div class="fr mr6-ns">
        <div class="mw6">
          <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
            Where should I put an <span class="hilight-white-mid">analytics.txt</span> file?
          </h2>
        </div>
        <div class="mw6 ma0 custom-list">
          <p class="lineheight-copy ma0 mt3">
            The preferred default location for your <span class="hilight-white-small">analytics.txt</span> file is the <span class="hilight-white-small">/.well-known/</span> path of your web server. If this is not ideal or possible for you, there are two alternatives:
          </p>
          <ul class="text-list ml2 lineheight-copy">
            <li>
              <p class="ma0 mt3">
                Use a <span class="hilight-white-small">&lt;link rel="analytics.txt" href="/path/to/analytics.txt"&gt;</span> in the <span class="hilight-white-small">head</span> of your document.
              </p>
            </li>
            <li>
              <p class="ma0 mt3">
                Send a <span class="hilight-white-small word-break">X-Analytics-Txt: https://www.example.com/path/to/analytics.txt</span> HTTP header with your documents.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- FAQ B 2 -->
  <div class="bg-faq ph3 pt5">
    <div class="cf">
      <div class="fr mr6-ns">
        <div class="mw6">
          <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
            I would like to use <span class="hilight-white-mid">analytics.txt</span> but don't really know what to put in there?
          </h2>
        </div>
        <div class="mw6 ma0">
          <p class="lineheight-copy ma0 mt3">
            We are want to make the specification as accessible as possible for anyone. That is why we offer an <a class="hilight-yellow-small" href="/wizard/">Implementation Wizard</a> and vendor presets included in it.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- FAQ B 3 -->
  <div class="bg-faq ph3 pt5 pb6">
    <div class="cf">
      <div class="fr mr6-ns">
        <div class="mw6">
          <h2 class="f3 f2-l normal ma0 fnt-italic-mid">
            How do I know the information in an <span class="hilight-white-mid">analytics.txt</span> file is correct?
          </h2>
        </div>
        <div class="mw6 ma0 custom-list">
          <p class="lineheight-copy ma0 mt3">
            <span class="hilight-white-small">analytics.txt</span> is designed in a way that there are no right or wrong answers, so we start by trusting others to populate it correctly. If you are unsure about the correctness of such a file, you can do two things:
          </p>
          <ul class="text-list ml2 lineheight-copy">
            <li>
              <p class="ma0 mt3">
                Contact the email address given in the mandatory <span class="hilight-white-small">Author</span> field of the <span class="hilight-white-small">analytics.txt</span> file, asking for clarification.
              </p>
            </li>
            <li>
              <p class="ma0 mt3">
                Use the <span class="fnt-bold-small">Audit Tool</span> we will be providing to check for basic conformance.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- OUTRO -->
  <div class="bg-outro ph3 pv6 clr-fnt-blue">
    <div class="lineheight-copy ml4-m ml5-l mw6 link-blue">
      <h2 class="f3 f2-l normal ma0 fnt-bold-mid">
        Let’s keep in touch~
      </h2>
      <p class="ma0 mt3">
        Do you have feedback on <span class="hilight-white-very-dark-small">analytics.txt</span>? Do you have an idea for an application that could consume the provided data? Are you as enthusiastic about fair data transfer as we are?
      </p>
      <p class="ma0 mt3">
        <span class="fnt-italic-small">Reach out to us and feel invited to take this idea forward together.</span>
      </p>
      <div class="mt3">
        <a class="hilight-yellow-mid f3 f2-l normal ma0 clr-fnt-blue" href="mailto:hioffen@posteo.de" rel="noopener">Send an e-mail</a>
      </div>
    </div>
  </div>
{% endblock %}
