{% extends "page.html" %}

{% block content %}
<main class="bg-page ph3 pt4 pt5-ns pb6">
  <div class="relative">
    <div class="absolute deko-page">
    </div>
  </div>
  <div class="cf">
    <div class="fr mr6-m mr7-l">
      <div class="mw6">




<h1 class="f5 normal ma0 fnt-bold-small">Wizard</h1>
<div class="lineheight-copy">
  <p class="ma0 mt3">
    Create an <span class="hilight-white-small">analytics.txt</span> file to disclose information about your service's use of analytics software and user tracking.
  </p>
</div>

<div class="clr-fnt-blue" id="wizard" v-cloak>

  <div class="bg-white">
    <h2 class="f5 normal ma0 fnt-bold-small clr-fnt-blue">Presets</h2>
    <div v-for="preset in presets">
      <button class="pointer hilight-yellow-mid f3 f2-l normal bn ma0 clr-fnt-blue" v-on:click="usePreset(preset.doc)">
        <%= preset.name %>
      </button>
    </div>
  </div>

  <div class="bg-white">
    <button class="pointer hilight-yellow-mid f3 f2-l normal bn ma0 clr-fnt-red">
      Don’t use preset
    </button>
  </div>

  <form v-on:submit.prevent>
    <fieldset class="bn bg-white pa0" v-for="(field, key) in fields" v-if="applies(key)">

      <div v-if="field.type === 'input'">
        <h2 class="f5 normal ma0 fnt-bold-small">
          <%= key %>
          <small class="fnt-italic-small" v-if="field.optional">
            optional
          </small>
        </h2>
        <input
          class="w-100 f6 f5-ns code ba bw1 b--moon-gray bg-near-white pa2 clr-fnt-black"
          type="text"
          v-model="field.value"
        >
      </div>

      <div v-if="field.type === 'checkboxes'">
        <h2 class="f5 normal ma0 fnt-bold-small">
          <%= key %>
          <small class="fnt-italic-small" v-if="field.optional">
            optional
          </small>
        </h2>
        <label class="checkbox-cotainer" v-for="option in field.options">
          <input
            type="checkbox"
            v-bind:value="option.value"
            v-model="field.value"
          >
          <span class="checkmark"></span>
          <span class="ml3"><%= option.label %></span>
        </label>
      </div>

      <div v-if="field.comment !== null">
        <h4 class="f5 normal ma0">Comment</h4>
        <input
          class="w-100 f6 f5-ns code ba bw1 b--moon-gray bg-near-white pa2 clr-fnt-black"
          type="text"
          v-model="field.comment"
        >
        <button class="pointer hilight-yellow-small bn clr-fnt-red" v-on:click="toggleComment(key)">
          Remove comment
        </button>
      </div>
      <div v-else>
        <button class="pointer hilight-yellow-small bn clr-fnt-red" v-on:click="toggleComment(key)">
          Add comment to this field
        </button>
      </div>

    </fieldset>
  </form>

  <div class="mw7 ba bw1 b--moon-gray mt3 ml5-l mr3-m">
    <div class="h1 bg-moon-gray"></div>
    <div class="f6 f5-ns code pv4 ph3 ph4-ns bg-near-white clr-fnt-black">
      <pre class="lineheight-copy ma0 break-spaces">
<%= output %>
      </pre>
    </div>
  </div>

  <button
    class="js-copy-result-btn"
    v-bind:data-clipboard-text="output"
  >
    Copy to clipboard.
  </button>

  <p v-if="error">
    <%= error %>
  </p>
</div>






</div>
</div>
</div>
</main>
{% endblock %}
